@use '../abstracts/index' as abs;

html * {
    font-family: abs.$spacegrotesk;
}
 
body {
    overflow-x: hidden;
    background-color: abs.$body-color;
} 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        list-style: none;
    }
}