$spacegrotesk: 'Space Grotesk', sans-serif;

$body-color: rgba(21, 21, 21, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-color: rgba(217, 217, 217, 1);
$green-color: rgba(78, 225, 160, 1);
$footer-bg-color: rgba(36, 36, 36, 1);

