
@use '../abstracts' as abs;
.header {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%; 
        transform: translateX(-50%); 
        width: 12rem; 
        height: 30rem; 
        
        background: linear-gradient(
            to bottom, 
            abs.$body-color 20%, 
            abs.$footer-bg-color 50%, 
            transparent 100%
        );
        z-index: -4;
        @include abs.breakpoint(tablet) {
            left: auto;
            right: 0;
            transform: none;
            width: 20.5rem;
            height: 40rem;
            background: abs.$footer-bg-color; 
            background: linear-gradient(
                to bottom,
                abs.$footer-bg-color 0%,
                abs.$footer-bg-color 80%,
                transparent 100%
            );
        }
        @include abs.breakpoint(desktop) {
            width: 30rem;
            height: 50rem;
            left: 67rem;
            background: linear-gradient(
                to bottom,
                abs.$footer-bg-color 0%,
                abs.$footer-bg-color 80%,
                transparent 100%
            );
        }
    }
    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        @include abs.breakpoint(tablet) {
            display: grid; 
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            align-items: center;
            justify-content: start;
            padding-top: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include abs.breakpoint(desktop) {
            padding-left: 10rem;
            padding-right: 10rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            align-items: center;
            justify-content: start;
        }
        
    }
    &__logo {
        margin-bottom: 0;
        @include abs.breakpoint(tablet) {
            grid-column: 1;
            grid-row: 1;
            z-index: 10;
            margin: 0;
        }
        @include abs.breakpoint(desktop) {
            margin: 0;
            grid-column: 1;
            grid-row: 1;
            z-index: 10;
        }
        img {
            width: 8rem;
            max-width: 100%;
            @include abs.breakpoint(tablet) {
                width: 12rem;
            }
            @include abs.breakpoint(desktop) {
                width: 12rem;
            }
        }
        
    }
    &__nav {
        width: 15rem;
        height: 6rem;
        padding: 0;
        margin-bottom: 2rem;
        position: relative;
        @include abs.breakpoint(tablet) {
            grid-column: 2;
            grid-row: 1;
            z-index: 10;
            margin-bottom: 0;
            justify-self: end;
            gap: 0.5rem;
        }
        @include abs.breakpoint(desktop) {
            grid-column: 2;
            grid-row: 1;
            z-index: 10;
            margin-bottom: 0;
            justify-self: end;
            gap: 0.5rem;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 14rem;
            list-style: none;
            @include abs.breakpoint(tablet) {
                align-items: end;
                align-content: end;
                width: 100%;
                gap: 0;
                padding-left: 3rem;
            }
            @include abs.breakpoint(desktop) {
                align-items: end;
                align-content: end;
                width: 100%;
                gap: 0;
                padding-left: 3rem;
            }
            img{
                width: 1.6rem;
                max-width: 100%;
                @include abs.breakpoint(tablet) {
                    width: 1.5rem;
                }
                @include abs.breakpoint(desktop) {
                    width: 1.7rem;
                }
            }
        }
        
    }
    
    &__img {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include abs.breakpoint(tablet) {
            width: 20.5rem;
        }
        @include abs.breakpoint(desktop) {
            width: 30rem;
        }
        picture {
            .hombre {
                width: 12rem;
                max-width: 100%;
                z-index: 1;
                @include abs.breakpoint(tablet) {
                    display: block;
                    position: absolute;
                    top: 9rem;
                    right: 0;
                    width: 20.5rem;
                    z-index: 1;
                }
                @include abs.breakpoint(desktop) {
                    display: block;
                    position: absolute;
                    top: 10.5rem;
                    right: 8rem;
                    width: 30rem;
                    z-index: 1;
                }
            }
        }
        .ovalo {
            position: absolute;
            top: 17.2rem;
            right: 0;
            width: 5rem;
            max-width: 100%;
            @include abs.breakpoint(tablet) {
                width: 4rem;
                top: 31rem;
                z-index: 10
            }
            @include abs.breakpoint(desktop) {
                width: 10rem;
                top: 38rem;
                right: 33rem;
                z-index: 10
            }
        }
        .elipses {
            position: absolute;
            top: 10rem;
            left: 0;
            width: 12rem;
            max-width: 100%;
            opacity: 0.5;
            z-index: -1;
            @include abs.breakpoint(tablet) {
                width: 16.5rem;
                top: 6.5rem;
                left: 0;
            }
            @include abs.breakpoint(desktop) {
                width: 29rem;
                top: 8rem;
                left: 0;
                opacity: 0.8;
            }
        }
    }
    
}