@use '../abstracts' as abs;
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 1rem;
    @include abs.breakpoint(tablet) {
        display: block;
    }
    @include abs.breakpoint(desktop) {
        display: block;
        margin-left: 9rem;
        margin-right: 8rem;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem 6rem 1rem;
        border-bottom: 2px solid abs.$white-color;
        @include abs.breakpoint(tablet) {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            position: relative;
            z-index: 10;
            width: 100%;
            max-width: 29.7rem;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            border-bottom: 0;
        }
        @include abs.breakpoint(desktop) {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            position: relative;
            z-index: 10;
            width: 100%;
            max-width: 50rem;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 12rem;
            text-align: left;
            border-bottom: 0;
        }
    }
    &__title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
        letter-spacing: -1.14px;
        color: abs.$white-color;
        margin-bottom: 1.5rem;
        span {
            border-bottom: 2px solid abs.$green-color;
            padding-bottom: 0;
            @include abs.breakpoint(tablet) {
                border-bottom: 5px solid abs.$green-color;
                padding-bottom: 0;
            }
            @include abs.breakpoint(desktop) {
                border-bottom: 5px solid abs.$green-color;
                padding-bottom: 0;
                width: 100%;
            }
        }
        @include abs.breakpoint(tablet) {
            text-align: left;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -2.05px;
            margin-bottom: 4rem;
            width: 100%

        }
        @include abs.breakpoint(desktop) {
            text-align: left;
            font-size: 88px;
            line-height: 88px;
            letter-spacing: -2.5px;
            margin-bottom: 6rem;
            width: 100%;
            z-index: 1;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 26px;
        letter-spacing: -0.5px;
        color: abs.$grey-color;
        margin-bottom: 2rem;
        @include abs.breakpoint(tablet) {
            text-align: left;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
            max-width: 28rem;
            width: 100%;
            margin-left: 0;
            margin-bottom: 2.5rem;
            align-self: start;

        }
        @include abs.breakpoint(desktop) {
            text-align: left;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
            max-width: 28rem;
            width: 100%;
            margin-left: 0;
            margin-bottom: 4.5rem;
            align-self: start;
        }
    }
    .button {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.29px;
        color: abs.$white-color;
        border-bottom: 2px solid abs.$green-color;
        padding-bottom: 1.5rem;
        transition: all 0.3s ease;
        @include abs.breakpoint(tablet) {
            align-self: start;
        }
        @include abs.breakpoint(desktop) {
            align-self: start;
        }
        &:hover {
            color: abs.$green-color;
            border-bottom: 2px solid purple;
            padding-bottom: 0;
        }
    }
    .items {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include abs.breakpoint(tablet) {
            border-top: 2px solid abs.$white-color;
            padding-top: 3rem; 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            grid-template-rows: auto;
            align-items: start;
            justify-content: start;
        }
        @include abs.breakpoint(desktop) {
            border-top: 2px solid abs.$white-color;
            padding-top: 3rem; 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            grid-template-rows: auto;
            align-items: start;
            justify-content: start;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            z-index: 2;
            @include abs.breakpoint(tablet) {
                align-items: start;
                padding-left: 1rem;
                margin-bottom: 3rem;
            }
            @include abs.breakpoint(desktop) {
                align-items: start;
                padding-left: 1rem;
                margin-bottom: 3rem;
            }
            h2{
                color: abs.$white-color;
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -1px;
                text-align: center;
                @include abs.breakpoint(tablet) {
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -1.5px;
                    text-align: left;
                }
                @include abs.breakpoint(desktop) {
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -1.5px;
                    text-align: left;
                }
            }
            p {
                color: abs.$grey-color;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0;
                text-align: center;
                @include abs.breakpoint(tablet) {
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0;
                    text-align: left;
                }
                @include abs.breakpoint(desktop) {
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0;
                    text-align: left;
                }
            }
        }
        .elipses_section {
            position: absolute;
            width: 12.5rem;
            top: 69.4rem;
            right: 0;
            z-index: -1;
            opacity: 0.7;
            @include abs.breakpoint(desktop) {
                width: 16.5rem;
                top: 74rem;
                right: 0;
                z-index: -1;
                opacity: 0.7;
                
            }
        }
        
    }
    .hero{
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        padding: 0.1rem;
        padding-top: 5rem;
        width: 100%;
        border-top: 2px solid abs.$white-color;
        @include abs.breakpoint(tablet) {
            border-top: none;
            padding-top: 0;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            grid-template-rows: auto;
            align-items: start;
            justify-content: start;
        }
        @include abs.breakpoint(desktop) {
            border-top: none;
            padding-top: 0;
            margin-top: 6rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            grid-template-rows: auto;
            align-items: start;
            justify-content: start;
        }

        &__container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem 1rem;
            @include abs.breakpoint(tablet) {
                margin-bottom: 3rem;
                grid-column: 1 / 3;
            }
            @include abs.breakpoint(desktop) {
                margin-bottom: 3rem;
                grid-column: 1 / 3;
            }
            h2{
                color: abs.$white-color;
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -1.14px;
                text-align: left;
                @include abs.breakpoint(tablet) {
                    font-size: 72px;
                    line-height: 72px;
                    letter-spacing: -2.05px;
                }
                @include abs.breakpoint(desktop) {
                    font-size: 88px;
                    line-height: 88px;
                    letter-spacing: -2.5px;
                }
            }
            .hero__button {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 2.29px;
                color: abs.$white-color;
                border-bottom: 2px solid abs.$green-color;
                padding-bottom: 1.5rem;
                transition: all 0.3s ease;
                @include abs.breakpoint(tablet) {
                    align-self: center;
                    
                }
                @include abs.breakpoint(desktop) {
                    align-self: center;
                    
                }
                &:hover {
                    color: abs.$green-color;
                    border-bottom: 2px solid purple;
                    padding-bottom: 0;
                }
            }
        }
        .hero__projects {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            @include abs.breakpoint(tablet) {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
            }
            @include abs.breakpoint(desktop) {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                position: relative;
            }
            &:hover {
                .hero__projects-img {
                    filter: brightness(0.3);
                }
                .hero__projects-link {
                    opacity: 1;
                    visibility: visible;
                }
            }
            
            &-img {
                width: 100%;
                margin-bottom: 1rem;
                @include abs.breakpoint(desktop) {
                    transition: filter 0.3s ease, opacity 0.3s ease;
                }
            }

            &-title{
                color: abs.$white-color;
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -1px;
                text-align: left;
                @include abs.breakpoint(tablet) {
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0px;
                }
                @include abs.breakpoint(desktop) {
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0px;
                }
            }

            &-skill{
                display:flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 1rem;
                font-family: abs.$spacegrotesk;
                color: abs.$grey-color;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 1.5rem;
            }
            
            &-link {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 2rem;
                @include abs.breakpoint(tablet) {
                    justify-content: flex-start;
                    gap: 2rem;
                }
                @include abs.breakpoint(desktop) {
                    position: absolute;
                    top: 9rem;
                    left: 0;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    z-index: 10;

                }
                &-1 {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                    color: abs.$white-color;
                    border-bottom: 2px solid abs.$green-color;
                    padding-bottom: 1.5rem;
                    transition: padding 0.3s ease, border-color 0.3s ease, color 0.3s ease;
                    @include abs.breakpoint(desktop) {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 28px;
                        display: inline-block;
                        text-decoration: none;
                    }
                    &:hover {
                        color: abs.$green-color;
                        border-bottom: 2px solid purple;
                        padding-bottom: 0 !important;
                    }
                }
                &-2 {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                    color: abs.$white-color;
                    border-bottom: 2px solid abs.$green-color;
                    padding-bottom: 1.5rem;
                    transition: padding 0.3s ease, border-color 0.3s ease, color 0.3s ease;
                    @include abs.breakpoint(desktop) {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 28px;
                        display: inline-block;
                        text-decoration: none;
                    }
                    &:hover {
                        color: abs.$green-color;
                        border-bottom: 2px solid purple;
                        padding-bottom: 0.1rem !important;
                    }
                }
            }
        }
            
        
    }
}